<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div id="container">
  	<div id="main-phone">
  	    <iframe src='https://gfycat.com/ifr/SlipperyFearfulArachnid' frameborder='0' scrolling='no' width='277px' height='492' allowfullscreen id="main-screen"></iframe>
  	</div>
    <div>
      <div id="app-name">Bourdain</div>
      <div id="underline"></div>
    </div>
  </div>
  <div id="power-by">Powered by <a href="https://www.esri.com/en-us/home">Esri</a>, <a href="https://www.hyphenate.io/">Hyphenate</a> and <a href="https://www.intuit.com/">Intuit</a></div>
</body>
</html>
